.idea/
node_modules/
npm-debug.*
tmp/
.tmp/
dist/
dist-commonjs/
.sw[a-z]
.DS_Store
build/
*.js.map
*.css.map
.awcache
ansible_playbook.retry
.data
lerna-debug.log
source-context.json
source-contexts.json
*.rdb
